version: "3.8"
services:
    server1:
        build:
            context: ./server1
        ports:
            - "5001:5001"
        container_name: server1
        depends_on:
            - nginx

    server2:
        build:
            context: ./server2
        ports:
            - "5002:5002"
        container_name: server2
        depends_on:
            - nginx

    nginx:
        restart: always
        image: nginx:latest
        container_name: nginx
        volumes:
            - "./nginx/default.conf:/etc/nginx/conf.d/default.conf"
        ports:
            - "8080:8080"
