<div class="container pt-5 col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            Welcome to Section 1
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><strong>{{ server1Data }}</strong></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>